* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    grid-column: span 2;
    margin: auto;
  }
  header .logo {
    margin-top: 48px;
    margin-bottom: 54px;
  }
  .cta-section {
    display: flex;
    flex-direction: row;
  }
  .img-hero-mobile:first-child {
    position: relative;
    margin-left: -40px;
  }
  .img-hero-mobile:last-child {
    position: relative;
    margin-left: 50px;
  }
}
